/* 공통으로 적용할 css 파일에 옮기기 */
ul {
    list-style: none;
    padding: 0;
}
/**********************************/

div.writeBoard {
    margin: 50px 10%;
    padding: 10px 20px;
    border: 1px solid #dddddd;
}

div.writeBoard > form > ul > li {
    margin-bottom: 5px;
    border: 1px solid #dddddd;
}

ul > li > span {
    display: inline-block;
    width: 70px;
    height: 20px;
    line-height: 20px;
}

ul > li > input {
    width: 100%;
    height: 20px;
    line-height: 20px;
    outline: none;
    
}

ul > li > textarea {
    width: 500px;
    height: 300px;
    resize: none;
    outline: none;
}


div.btns > button {
    text-align: right;
    width: 70px;
    height: 30px;
    line-height: 30px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border: none;
    font-weight: bold;
}

div.btns > button:not(:last-child) {
    margin-right: 10px;
}

/* button {
    width: 70px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border: none;
    font-weight: bold;
} */